.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh; /* Adjust height as needed */
  background-color: #1b1b2f;
  padding: 20px;
}

.home-banner {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.home-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 25px;
  background-color: #f8c307;
  color: #1b1b2f;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #1b1b2f;
  color: #f8c307;
  transform: scale(1.05);
}
